<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<SexyContent FileVersion="07.00.00" MinimumRequiredVersion="07.00.00" ModuleVersion="09.33.00" ExportDate="2018-09-21T11:26:58.1088285+02:00">
  <Header>
    <App Guid="65e3a296-b75d-4e7d-a707-524216608e63" />
    <Language Default="en-US" />
    <Dimensions />
  </Header>
  <AttributeSets>
    <AttributeSet StaticName="App-Resources" Name="App-Resources" Description="Stores resources like translations for an app" Scope="2SexyContent-App" AlwaysShareConfiguration="false">
      <Attributes />
    </AttributeSet>
    <AttributeSet StaticName="App-Settings" Name="App-Settings" Description="Stores settings for an app" Scope="2SexyContent-App" AlwaysShareConfiguration="false">
      <Attributes />
    </AttributeSet>
    <AttributeSet StaticName="aa40f3ba-c671-463e-b0a7-4adbfd78513a" Name="t11-content-type-without-permissions" Description="content-type without permissions" Scope="2SexyContent" AlwaysShareConfiguration="false">
      <Attributes>
        <Attribute StaticName="Title" Type="String" IsTitle="true">
          <Entity AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="a07d4aaf-ad60-429f-88c9-45513e96d749" KeyNumber="988">
            <Value Key="InputType" Value="string-default" Type="String" />
            <Value Key="Name" Value="Title" Type="String" />
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean" />
          </Entity>
        </Attribute>
      </Attributes>
    </AttributeSet>
    <AttributeSet StaticName="9e6401e5-49bd-409d-be83-ac96e40b0c87" Name="t12-content-type-R" Description="content-type with read permissions for a Smurfs" Scope="2SexyContent" AlwaysShareConfiguration="false">
      <Attributes>
        <Attribute StaticName="Title" Type="String" IsTitle="true">
          <Entity AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="4817a8c4-d399-491e-86e4-b0de43367b85" KeyNumber="989">
            <Value Key="InputType" Value="string-default" Type="String" />
            <Value Key="Name" Value="Title" Type="String" />
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean" />
          </Entity>
        </Attribute>
      </Attributes>
    </AttributeSet>
    <AttributeSet StaticName="60ff15ed-26d7-46c3-87d2-e2b84828daf6" Name="t31-content-type-C" Description="content-type with create permissions for Smurfs" Scope="2SexyContent" AlwaysShareConfiguration="false">
      <Attributes>
        <Attribute StaticName="Title" Type="String" IsTitle="true">
          <Entity AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="2a158640-bc0c-484d-a2c9-1f9549de316c" KeyNumber="990">
            <Value Key="InputType" Value="string-default" Type="String" />
            <Value Key="Name" Value="Title" Type="String" />
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean" />
          </Entity>
        </Attribute>
      </Attributes>
    </AttributeSet>
    <AttributeSet StaticName="eecd8729-3ac0-4ea2-9d4d-df9ccb864a20" Name="t32-content-type-ED-regR" Description="content-type with &quot;registered&quot; create permissions, and owner edit / delete permissions" Scope="2SexyContent" AlwaysShareConfiguration="false">
      <Attributes>
        <Attribute StaticName="Title" Type="String" IsTitle="true">
          <Entity AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="c14dcc11-3400-4861-98b8-ed89fdd47266" KeyNumber="991">
            <Value Key="InputType" Value="string-default" Type="String" />
            <Value Key="Name" Value="Title" Type="String" />
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean" />
          </Entity>
        </Attribute>
      </Attributes>
    </AttributeSet>
    <AttributeSet StaticName="cfe56b89-0b87-4f88-b2b9-ca99ec3488c7" Name="t41-content-type-anonC" Description="content-type with create permissions for anonymous" Scope="2SexyContent" AlwaysShareConfiguration="false">
      <Attributes>
        <Attribute StaticName="Title" Type="String" IsTitle="true">
          <Entity AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="cdd8df2e-df57-4621-a6bc-e40e3b575a41" KeyNumber="992">
            <Value Key="InputType" Value="string-default" Type="String" />
            <Value Key="Name" Value="Title" Type="String" />
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean" />
          </Entity>
        </Attribute>
      </Attributes>
    </AttributeSet>
    <AttributeSet StaticName="1236a4af-4bc6-41cb-9e4d-121d829870e6" Name="t42-content-type-anonCDr" Description="content-type with create-draft permissions for anonymous" Scope="2SexyContent" AlwaysShareConfiguration="false">
      <Attributes>
        <Attribute StaticName="Title" Type="String" IsTitle="true">
          <Entity AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="6bce4161-b7ec-49cf-b416-41e1bb7b9b44" KeyNumber="993">
            <Value Key="InputType" Value="string-default" Type="String" />
            <Value Key="Name" Value="Title" Type="String" />
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean" />
          </Entity>
        </Attribute>
      </Attributes>
    </AttributeSet>
    <AttributeSet StaticName="59d8a385-1f1b-47b3-8991-b2857047cba2" Name="t43-content-type-anonR" Description="content-type with read permissions for anonymous" Scope="2SexyContent" AlwaysShareConfiguration="false">
      <Attributes>
        <Attribute StaticName="Title" Type="String" IsTitle="true">
          <Entity AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="10905dcd-483e-447f-8f25-3f50903daeab" KeyNumber="994">
            <Value Key="InputType" Value="string-default" Type="String" />
            <Value Key="Name" Value="Title" Type="String" />
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean" />
          </Entity>
        </Attribute>
      </Attributes>
    </AttributeSet>
  </AttributeSets>
  <Entities>
    <Entity AssignmentObjectType="App" AttributeSetStaticName="2SexyContent-App" AttributeSetName="2SexyContent-App" EntityGUID="036fa124-b027-4515-9d08-b687825c6fb7" KeyNumber="37">
      <Value Key="AllowRazorTemplates" Value="True" Type="Boolean" />
      <Value Key="AllowTokenTemplates" Value="True" Type="Boolean" />
      <Value Key="Description" Value="" Type="String" />
      <Value Key="DisplayName" Value="app-dev-testing-permissions-REST" Type="String" />
      <Value Key="Folder" Value="app-dev-testing-permissions-REST" Type="String" />
      <Value Key="Hidden" Value="False" Type="Boolean" />
      <Value Key="OriginalId" Value="" Type="String" />
      <Value Key="RequiredDnnVersion" Value="07.02.00" Type="String" />
      <Value Key="RequiredVersion" Value="08.03.00" Type="String" />
      <Value Key="SupportsAjaxReload" Value="False" Type="Boolean" />
      <Value Key="Version" Value="01.00.04" Type="String" />
    </Entity>
    <Entity AssignmentObjectType="App" AttributeSetStaticName="App-Settings" AttributeSetName="App-Settings" EntityGUID="d80a883a-450c-48a3-9a60-106678d04bcf" KeyNumber="37" />
    <Entity AssignmentObjectType="App" AttributeSetStaticName="App-Resources" AttributeSetName="App-Resources" EntityGUID="a8007adf-c608-4bf9-a559-0e0a1d58dcbf" KeyNumber="37" />
    <Entity AssignmentObjectType="Default" AttributeSetStaticName="aa40f3ba-c671-463e-b0a7-4adbfd78513a" AttributeSetName="t11-content-type-without-permissions" EntityGUID="943a3f64-6123-4647-ad88-3868d5011cbc">
      <Value Key="Title" Value="t11-001" Type="String" />
    </Entity>
    <Entity AssignmentObjectType="Entity" AttributeSetStaticName="PermissionConfiguration" AttributeSetName="PermissionConfiguration" EntityGUID="7756af7f-5637-4878-a1b5-6e8f29990f7e" KeyGuid="9e6401e5-49bd-409d-be83-ac96e40b0c87">
      <Value Key="Condition" Value="" Type="String" />
      <Value Key="Grant" Value="r" Type="String" />
      <Value Key="Identity" Value="20" Type="String" />
      <Value Key="Title" Value="read permissions for a Smurfs" Type="String" />
    </Entity>
    <Entity AssignmentObjectType="Default" AttributeSetStaticName="9e6401e5-49bd-409d-be83-ac96e40b0c87" AttributeSetName="t12-content-type-R" EntityGUID="4b9c8bcc-afd6-4318-8733-3682124f39f2">
      <Value Key="Title" Value="t12-001" Type="String" />
    </Entity>
    <Entity AssignmentObjectType="Entity" AttributeSetStaticName="PermissionConfiguration" AttributeSetName="PermissionConfiguration" EntityGUID="dde3ce10-3f64-4411-afd5-8842e4714944" KeyGuid="60ff15ed-26d7-46c3-87d2-e2b84828daf6">
      <Value Key="Condition" Value="" Type="String" />
      <Value Key="Grant" Value="c" Type="String" />
      <Value Key="Identity" Value="20" Type="String" />
      <Value Key="Title" Value="create permissions for Smurfs" Type="String" />
    </Entity>
    <Entity AssignmentObjectType="Default" AttributeSetStaticName="60ff15ed-26d7-46c3-87d2-e2b84828daf6" AttributeSetName="t31-content-type-C" EntityGUID="163d13e0-3fb5-440e-ad0c-577c7010e49b">
      <Value Key="Title" Value="t31-001" Type="String" />
    </Entity>
    <Entity AssignmentObjectType="Entity" AttributeSetStaticName="PermissionConfiguration" AttributeSetName="PermissionConfiguration" EntityGUID="0885ca5c-eeb8-40cf-8b6d-e73b27ab11e1" KeyGuid="eecd8729-3ac0-4ea2-9d4d-df9ccb864a20">
      <Value Key="Condition" Value="Owner" Type="String" />
      <Value Key="Grant" Value="crud" Type="String" />
      <Value Key="Identity" Value="" Type="String" />
      <Value Key="Title" Value="owner edit / delete permissions" Type="String" />
    </Entity>
    <Entity AssignmentObjectType="Entity" AttributeSetStaticName="PermissionConfiguration" AttributeSetName="PermissionConfiguration" EntityGUID="ce3e1658-9652-49e3-b3c0-8bd6c4fc0e2c" KeyGuid="eecd8729-3ac0-4ea2-9d4d-df9ccb864a20">
      <Value Key="Condition" Value="" Type="String" />
      <Value Key="Grant" Value="c" Type="String" />
      <Value Key="Identity" Value="1" Type="String" />
      <Value Key="Title" Value="&quot;registered&quot; create permissions" Type="String" />
    </Entity>
    <Entity AssignmentObjectType="Default" AttributeSetStaticName="eecd8729-3ac0-4ea2-9d4d-df9ccb864a20" AttributeSetName="t32-content-type-ED-regR" EntityGUID="0886ed2a-c3a1-43f9-a8a2-76c9ef77a928">
      <Value Key="Title" Value="t32-001" Type="String" />
    </Entity>
    <Entity AssignmentObjectType="Entity" AttributeSetStaticName="PermissionConfiguration" AttributeSetName="PermissionConfiguration" EntityGUID="c196d4b2-b0cc-4282-85df-6d4a690fee47" KeyGuid="cfe56b89-0b87-4f88-b2b9-ca99ec3488c7">
      <Value Key="Condition" Value="SecurityAccessLevel.Anonymous" Type="String" />
      <Value Key="Grant" Value="c" Type="String" />
      <Value Key="Identity" Value="" Type="String" />
      <Value Key="Title" Value="create permissions for anonymous" Type="String" />
    </Entity>
    <Entity AssignmentObjectType="Default" AttributeSetStaticName="cfe56b89-0b87-4f88-b2b9-ca99ec3488c7" AttributeSetName="t41-content-type-anonC" EntityGUID="53b2c302-8174-4994-9180-abe362a30194">
      <Value Key="Title" Value="t41-001" Type="String" />
    </Entity>
    <Entity AssignmentObjectType="Entity" AttributeSetStaticName="PermissionConfiguration" AttributeSetName="PermissionConfiguration" EntityGUID="310bc4f4-381d-4e60-b2a6-21d11a71cef0" KeyGuid="1236a4af-4bc6-41cb-9e4d-121d829870e6">
      <Value Key="Condition" Value="SecurityAccessLevel.Anonymous" Type="String" />
      <Value Key="Grant" Value="č" Type="String" />
      <Value Key="Identity" Value="" Type="String" />
      <Value Key="Title" Value="create-draft permissions for anonymous" Type="String" />
    </Entity>
    <Entity AssignmentObjectType="Default" AttributeSetStaticName="1236a4af-4bc6-41cb-9e4d-121d829870e6" AttributeSetName="t42-content-type-anonCDr" EntityGUID="8c806ae3-bf7e-4f1a-8aa1-851cf9199427">
      <Value Key="Title" Value="t42-001" Type="String" />
    </Entity>
    <Entity AssignmentObjectType="Entity" AttributeSetStaticName="PermissionConfiguration" AttributeSetName="PermissionConfiguration" EntityGUID="97b57c4f-a2cc-4845-9d76-4a267d269872" KeyGuid="59d8a385-1f1b-47b3-8991-b2857047cba2">
      <Value Key="Condition" Value="SecurityAccessLevel.Anonymous" Type="String" />
      <Value Key="Grant" Value="r" Type="String" />
      <Value Key="Identity" Value="" Type="String" />
      <Value Key="Title" Value="read permissions for anonymous" Type="String" />
    </Entity>
    <Entity AssignmentObjectType="Default" AttributeSetStaticName="2SexyContent-Template" AttributeSetName="2SexyContent-Template" EntityGUID="4368cb93-2036-4ae5-921c-ef58e443a31e">
      <Value Key="ContentDemoEntity" Value="943a3f64-6123-4647-ad88-3868d5011cbc" Type="Entity" />
      <Value Key="ContentTypeStaticName" Value="aa40f3ba-c671-463e-b0a7-4adbfd78513a" Type="String" />
      <Value Key="IsHidden" Value="False" Type="Boolean" />
      <Value Key="ListContentTypeStaticName" Value="" Type="String" />
      <Value Key="ListPresentationTypeStaticName" Value="" Type="String" />
      <Value Key="Location" Value="Portal File System" Type="String" />
      <Value Key="Name" Value="t11" Type="String" />
      <Value Key="Path" Value="_t11.cshtml" Type="String" />
      <Value Key="PresentationTypeStaticName" Value="" Type="String" />
      <Value Key="PublishData" Value="False" Type="Boolean" />
      <Value Key="StreamsToPublish" Value="" Type="String" />
      <Value Key="Type" Value="C# Razor" Type="String" />
      <Value Key="UseForList" Value="False" Type="Boolean" />
      <Value Key="ViewNameInUrl" Value="" Type="String" />
    </Entity>
    <Entity AssignmentObjectType="Default" AttributeSetStaticName="2SexyContent-Template" AttributeSetName="2SexyContent-Template" EntityGUID="b0b9e843-1606-4e2c-945b-f63985ecd1f9">
      <Value Key="ContentTypeStaticName" Value="" Type="String" />
      <Value Key="IsHidden" Value="False" Type="Boolean" />
      <Value Key="ListContentTypeStaticName" Value="" Type="String" />
      <Value Key="ListPresentationTypeStaticName" Value="" Type="String" />
      <Value Key="Location" Value="Portal File System" Type="String" />
      <Value Key="Name" Value="before-all-tests" Type="String" />
      <Value Key="Path" Value="_before-all-tests.cshtml" Type="String" />
      <Value Key="PresentationTypeStaticName" Value="" Type="String" />
      <Value Key="PublishData" Value="False" Type="Boolean" />
      <Value Key="StreamsToPublish" Value="" Type="String" />
      <Value Key="Type" Value="C# Razor" Type="String" />
      <Value Key="UseForList" Value="False" Type="Boolean" />
      <Value Key="ViewNameInUrl" Value="" Type="String" />
    </Entity>
    <Entity AssignmentObjectType="Default" AttributeSetStaticName="2SexyContent-Template" AttributeSetName="2SexyContent-Template" EntityGUID="537bafb7-ed27-4833-a333-e82401c6ec92">
      <Value Key="ContentDemoEntity" Value="4b9c8bcc-afd6-4318-8733-3682124f39f2" Type="Entity" />
      <Value Key="ContentTypeStaticName" Value="9e6401e5-49bd-409d-be83-ac96e40b0c87" Type="String" />
      <Value Key="IsHidden" Value="False" Type="Boolean" />
      <Value Key="ListContentTypeStaticName" Value="" Type="String" />
      <Value Key="ListPresentationTypeStaticName" Value="" Type="String" />
      <Value Key="Location" Value="Portal File System" Type="String" />
      <Value Key="Name" Value="t12" Type="String" />
      <Value Key="Path" Value="_t12.cshtml" Type="String" />
      <Value Key="PresentationTypeStaticName" Value="" Type="String" />
      <Value Key="PublishData" Value="False" Type="Boolean" />
      <Value Key="StreamsToPublish" Value="" Type="String" />
      <Value Key="Type" Value="C# Razor" Type="String" />
      <Value Key="UseForList" Value="False" Type="Boolean" />
      <Value Key="ViewNameInUrl" Value="" Type="String" />
    </Entity>
    <Entity AssignmentObjectType="App" AttributeSetStaticName="PermissionConfiguration" AttributeSetName="PermissionConfiguration" EntityGUID="d321cdeb-16f4-42d6-b1ae-b18d98f0aada" KeyNumber="37">
      <Value Key="Condition" Value="" Type="String" />
      <Value Key="Grant" Value="r" Type="String" />
      <Value Key="Identity" Value="59012994-3494-408D-ABA5-33C29351F4CE" Type="String" />
      <Value Key="Title" Value="user AppSmurf read permissions the APP" Type="String" />
    </Entity>
    <Entity AssignmentObjectType="Default" AttributeSetStaticName="2SexyContent-Template" AttributeSetName="2SexyContent-Template" EntityGUID="7d9d8475-2d07-4120-8fa8-b95d68ebd16a">
      <Value Key="ContentTypeStaticName" Value="" Type="String" />
      <Value Key="IsHidden" Value="False" Type="Boolean" />
      <Value Key="ListContentTypeStaticName" Value="" Type="String" />
      <Value Key="ListPresentationTypeStaticName" Value="" Type="String" />
      <Value Key="Location" Value="Portal File System" Type="String" />
      <Value Key="Name" Value="t2" Type="String" />
      <Value Key="Path" Value="_t2.cshtml" Type="String" />
      <Value Key="PresentationTypeStaticName" Value="" Type="String" />
      <Value Key="PublishData" Value="False" Type="Boolean" />
      <Value Key="StreamsToPublish" Value="" Type="String" />
      <Value Key="Type" Value="C# Razor" Type="String" />
      <Value Key="UseForList" Value="False" Type="Boolean" />
      <Value Key="ViewNameInUrl" Value="" Type="String" />
    </Entity>
    <Entity AssignmentObjectType="Default" AttributeSetStaticName="2SexyContent-Template" AttributeSetName="2SexyContent-Template" EntityGUID="d77f497f-e9a2-4d55-90e9-db55e229b3a0">
      <Value Key="ContentDemoEntity" Value="163d13e0-3fb5-440e-ad0c-577c7010e49b" Type="Entity" />
      <Value Key="ContentTypeStaticName" Value="60ff15ed-26d7-46c3-87d2-e2b84828daf6" Type="String" />
      <Value Key="IsHidden" Value="False" Type="Boolean" />
      <Value Key="ListContentTypeStaticName" Value="" Type="String" />
      <Value Key="ListPresentationTypeStaticName" Value="" Type="String" />
      <Value Key="Location" Value="Portal File System" Type="String" />
      <Value Key="Name" Value="t31" Type="String" />
      <Value Key="Path" Value="_t31.cshtml" Type="String" />
      <Value Key="PresentationTypeStaticName" Value="" Type="String" />
      <Value Key="PublishData" Value="False" Type="Boolean" />
      <Value Key="StreamsToPublish" Value="" Type="String" />
      <Value Key="Type" Value="C# Razor" Type="String" />
      <Value Key="UseForList" Value="False" Type="Boolean" />
      <Value Key="ViewNameInUrl" Value="" Type="String" />
    </Entity>
    <Entity AssignmentObjectType="Default" AttributeSetStaticName="2SexyContent-Template" AttributeSetName="2SexyContent-Template" EntityGUID="39f315bc-e0f7-4617-b5ac-3d0182e56f25">
      <Value Key="ContentDemoEntity" Value="0886ed2a-c3a1-43f9-a8a2-76c9ef77a928" Type="Entity" />
      <Value Key="ContentTypeStaticName" Value="eecd8729-3ac0-4ea2-9d4d-df9ccb864a20" Type="String" />
      <Value Key="IsHidden" Value="False" Type="Boolean" />
      <Value Key="ListContentTypeStaticName" Value="" Type="String" />
      <Value Key="ListPresentationTypeStaticName" Value="" Type="String" />
      <Value Key="Location" Value="Portal File System" Type="String" />
      <Value Key="Name" Value="t32" Type="String" />
      <Value Key="Path" Value="_t32.cshtml" Type="String" />
      <Value Key="PresentationTypeStaticName" Value="" Type="String" />
      <Value Key="PublishData" Value="False" Type="Boolean" />
      <Value Key="StreamsToPublish" Value="" Type="String" />
      <Value Key="Type" Value="C# Razor" Type="String" />
      <Value Key="UseForList" Value="False" Type="Boolean" />
      <Value Key="ViewNameInUrl" Value="" Type="String" />
    </Entity>
    <Entity AssignmentObjectType="Default" AttributeSetStaticName="2SexyContent-Template" AttributeSetName="2SexyContent-Template" EntityGUID="ba88edec-7401-4f00-8493-53208752c4e7">
      <Value Key="ContentDemoEntity" Value="53b2c302-8174-4994-9180-abe362a30194" Type="Entity" />
      <Value Key="ContentTypeStaticName" Value="cfe56b89-0b87-4f88-b2b9-ca99ec3488c7" Type="String" />
      <Value Key="IsHidden" Value="False" Type="Boolean" />
      <Value Key="ListContentTypeStaticName" Value="" Type="String" />
      <Value Key="ListPresentationTypeStaticName" Value="" Type="String" />
      <Value Key="Location" Value="Portal File System" Type="String" />
      <Value Key="Name" Value="t41" Type="String" />
      <Value Key="Path" Value="_t41.cshtml" Type="String" />
      <Value Key="PresentationTypeStaticName" Value="" Type="String" />
      <Value Key="PublishData" Value="False" Type="Boolean" />
      <Value Key="StreamsToPublish" Value="" Type="String" />
      <Value Key="Type" Value="C# Razor" Type="String" />
      <Value Key="UseForList" Value="False" Type="Boolean" />
      <Value Key="ViewNameInUrl" Value="" Type="String" />
    </Entity>
    <Entity AssignmentObjectType="Default" AttributeSetStaticName="2SexyContent-Template" AttributeSetName="2SexyContent-Template" EntityGUID="85dedc99-75c5-42ad-9982-0f03e327a048">
      <Value Key="ContentDemoEntity" Value="8c806ae3-bf7e-4f1a-8aa1-851cf9199427" Type="Entity" />
      <Value Key="ContentTypeStaticName" Value="1236a4af-4bc6-41cb-9e4d-121d829870e6" Type="String" />
      <Value Key="IsHidden" Value="False" Type="Boolean" />
      <Value Key="ListContentTypeStaticName" Value="" Type="String" />
      <Value Key="ListPresentationTypeStaticName" Value="" Type="String" />
      <Value Key="Location" Value="Portal File System" Type="String" />
      <Value Key="Name" Value="t42" Type="String" />
      <Value Key="Path" Value="_t42.cshtml" Type="String" />
      <Value Key="PresentationTypeStaticName" Value="" Type="String" />
      <Value Key="PublishData" Value="False" Type="Boolean" />
      <Value Key="StreamsToPublish" Value="" Type="String" />
      <Value Key="Type" Value="C# Razor" Type="String" />
      <Value Key="UseForList" Value="False" Type="Boolean" />
      <Value Key="ViewNameInUrl" Value="" Type="String" />
    </Entity>
    <Entity AssignmentObjectType="Default" AttributeSetStaticName="2SexyContent-Template" AttributeSetName="2SexyContent-Template" EntityGUID="18c74fe2-fd4a-47f3-bb2e-78d4826b2ae0">
      <Value Key="ContentDemoEntity" Value="b4853ad4-bb78-42a9-8eb9-d34a59ad65e9" Type="Entity" />
      <Value Key="ContentTypeStaticName" Value="59d8a385-1f1b-47b3-8991-b2857047cba2" Type="String" />
      <Value Key="IsHidden" Value="False" Type="Boolean" />
      <Value Key="ListContentTypeStaticName" Value="" Type="String" />
      <Value Key="ListPresentationTypeStaticName" Value="" Type="String" />
      <Value Key="Location" Value="Portal File System" Type="String" />
      <Value Key="Name" Value="t43" Type="String" />
      <Value Key="Path" Value="_t43.cshtml" Type="String" />
      <Value Key="PresentationTypeStaticName" Value="" Type="String" />
      <Value Key="PublishData" Value="False" Type="Boolean" />
      <Value Key="StreamsToPublish" Value="" Type="String" />
      <Value Key="Type" Value="C# Razor" Type="String" />
      <Value Key="UseForList" Value="False" Type="Boolean" />
      <Value Key="ViewNameInUrl" Value="" Type="String" />
    </Entity>
    <Entity AssignmentObjectType="Default" AttributeSetStaticName="DataPipeline" AttributeSetName="DataPipeline" EntityGUID="69a6c48e-55ab-4865-b257-2faa207cd5b2">
      <Value Key="AllowEdit" Value="True" Type="Boolean" />
      <Value Key="Description" Value="query without permissions - anon and registered should not be able to query" Type="String" />
      <Value Key="Name" Value="t51" Type="String" />
      <Value Key="StreamsOut" Value="ListContent,Default" Type="String" />
      <Value Key="StreamWiring" Value="0421eab3-b0f5-42c1-bac5-57d646111769:Default&gt;6d08dc70-07c9-45c3-a112-812fa2e4ba3b:Default&#xD;&#xA;0421eab3-b0f5-42c1-bac5-57d646111769:Drafts&gt;6d08dc70-07c9-45c3-a112-812fa2e4ba3b:Drafts&#xD;&#xA;0421eab3-b0f5-42c1-bac5-57d646111769:Published&gt;6d08dc70-07c9-45c3-a112-812fa2e4ba3b:Published&#xD;&#xA;6d08dc70-07c9-45c3-a112-812fa2e4ba3b:Default&gt;Out:ListContent&#xD;&#xA;6d08dc70-07c9-45c3-a112-812fa2e4ba3b:Default&gt;Out:Default" Type="String" />
      <Value Key="TestParameters" Value="[Module:ModuleID]=685" Type="String" />
    </Entity>
    <Entity AssignmentObjectType="Entity" AttributeSetStaticName="DataPipelinePart" AttributeSetName="DataPipelinePart" EntityGUID="0421eab3-b0f5-42c1-bac5-57d646111769" KeyGuid="69a6c48e-55ab-4865-b257-2faa207cd5b2">
      <Value Key="Description" Value="" Type="String" />
      <Value Key="Name" Value="ICache" Type="String" />
      <Value Key="PartAssemblyAndType" Value="ToSic.Eav.DataSources.Caches.ICache, ToSic.Eav.DataSources" Type="String" />
      <Value Key="VisualDesignerData" Value="{&#xD;&#xA;  &quot;Top&quot;: 440,&#xD;&#xA;  &quot;Left&quot;: 440&#xD;&#xA;}" Type="String" />
    </Entity>
    <Entity AssignmentObjectType="Entity" AttributeSetStaticName="DataPipelinePart" AttributeSetName="DataPipelinePart" EntityGUID="6d08dc70-07c9-45c3-a112-812fa2e4ba3b" KeyGuid="69a6c48e-55ab-4865-b257-2faa207cd5b2">
      <Value Key="Description" Value="" Type="String" />
      <Value Key="Name" Value="PublishingFilter" Type="String" />
      <Value Key="PartAssemblyAndType" Value="ToSic.Eav.DataSources.PublishingFilter, ToSic.Eav.DataSources" Type="String" />
      <Value Key="VisualDesignerData" Value="{&#xD;&#xA;  &quot;Top&quot;: 300,&#xD;&#xA;  &quot;Left&quot;: 440&#xD;&#xA;}" Type="String" />
    </Entity>
    <Entity AssignmentObjectType="Default" AttributeSetStaticName="DataPipeline" AttributeSetName="DataPipeline" EntityGUID="3d8f8c69-28d1-4332-9275-677b0e6dbaf5">
      <Value Key="AllowEdit" Value="True" Type="Boolean" />
      <Value Key="Description" Value="query with a group-permissions, that should be able to read, anon not" Type="String" />
      <Value Key="Name" Value="t52" Type="String" />
      <Value Key="StreamsOut" Value="ListContent,Default" Type="String" />
      <Value Key="StreamWiring" Value="b8ea81ae-3db6-4bd5-8106-bad9447aec09:Default&gt;b274e654-253c-4a61-9325-3bdb47b7a8e5:Default&#xD;&#xA;b8ea81ae-3db6-4bd5-8106-bad9447aec09:Drafts&gt;b274e654-253c-4a61-9325-3bdb47b7a8e5:Drafts&#xD;&#xA;b8ea81ae-3db6-4bd5-8106-bad9447aec09:Published&gt;b274e654-253c-4a61-9325-3bdb47b7a8e5:Published&#xD;&#xA;b274e654-253c-4a61-9325-3bdb47b7a8e5:Default&gt;Out:ListContent&#xD;&#xA;b274e654-253c-4a61-9325-3bdb47b7a8e5:Default&gt;Out:Default" Type="String" />
      <Value Key="TestParameters" Value="[Module:ModuleID]=685" Type="String" />
    </Entity>
    <Entity AssignmentObjectType="Entity" AttributeSetStaticName="PermissionConfiguration" AttributeSetName="PermissionConfiguration" EntityGUID="e4b1f139-7c4a-48c8-84ed-8beaa09b4dd2" KeyGuid="3d8f8c69-28d1-4332-9275-677b0e6dbaf5">
      <Value Key="Condition" Value="" Type="String" />
      <Value Key="Grant" Value="r" Type="String" />
      <Value Key="Identity" Value="20" Type="String" />
      <Value Key="Title" Value="Smurf read" Type="String" />
    </Entity>
    <Entity AssignmentObjectType="Default" AttributeSetStaticName="DataPipeline" AttributeSetName="DataPipeline" EntityGUID="366423af-8674-47d1-9530-3c5ef5b13dcd">
      <Value Key="AllowEdit" Value="True" Type="Boolean" />
      <Value Key="Description" Value="public query (anon-read)" Type="String" />
      <Value Key="Name" Value="t53" Type="String" />
      <Value Key="StreamsOut" Value="ListContent,Default" Type="String" />
      <Value Key="StreamWiring" Value="5cfe7431-fa6c-494d-8d9c-b207402e91ea:Default&gt;5fbc8027-81f1-4da8-9f88-c34e0ba7b629:Default&#xD;&#xA;5cfe7431-fa6c-494d-8d9c-b207402e91ea:Drafts&gt;5fbc8027-81f1-4da8-9f88-c34e0ba7b629:Drafts&#xD;&#xA;5cfe7431-fa6c-494d-8d9c-b207402e91ea:Published&gt;5fbc8027-81f1-4da8-9f88-c34e0ba7b629:Published&#xD;&#xA;5fbc8027-81f1-4da8-9f88-c34e0ba7b629:Default&gt;Out:ListContent&#xD;&#xA;5fbc8027-81f1-4da8-9f88-c34e0ba7b629:Default&gt;Out:Default" Type="String" />
      <Value Key="TestParameters" Value="[Module:ModuleID]=685" Type="String" />
    </Entity>
    <Entity AssignmentObjectType="Entity" AttributeSetStaticName="PermissionConfiguration" AttributeSetName="PermissionConfiguration" EntityGUID="172ff006-1768-4a39-8860-34f3f7be916e" KeyGuid="366423af-8674-47d1-9530-3c5ef5b13dcd">
      <Value Key="Condition" Value="SecurityAccessLevel.Anonymous" Type="String" />
      <Value Key="Grant" Value="r" Type="String" />
      <Value Key="Identity" Value="" Type="String" />
      <Value Key="Title" Value="public query (anon-read)" Type="String" />
    </Entity>
    <Entity AssignmentObjectType="Default" AttributeSetStaticName="2SexyContent-Template" AttributeSetName="2SexyContent-Template" EntityGUID="9377803d-6647-449c-b1a4-45b91b19c460">
      <Value Key="ContentTypeStaticName" Value="" Type="String" />
      <Value Key="IsHidden" Value="False" Type="Boolean" />
      <Value Key="ListContentTypeStaticName" Value="" Type="String" />
      <Value Key="ListPresentationTypeStaticName" Value="" Type="String" />
      <Value Key="Location" Value="Portal File System" Type="String" />
      <Value Key="Name" Value="t5" Type="String" />
      <Value Key="Path" Value="_t5.cshtml" Type="String" />
      <Value Key="PresentationTypeStaticName" Value="" Type="String" />
      <Value Key="PublishData" Value="False" Type="Boolean" />
      <Value Key="StreamsToPublish" Value="" Type="String" />
      <Value Key="Type" Value="C# Razor" Type="String" />
      <Value Key="UseForList" Value="False" Type="Boolean" />
      <Value Key="ViewNameInUrl" Value="" Type="String" />
    </Entity>
    <Entity AssignmentObjectType="Entity" AttributeSetStaticName="DataPipelinePart" AttributeSetName="DataPipelinePart" EntityGUID="b8ea81ae-3db6-4bd5-8106-bad9447aec09" KeyGuid="3d8f8c69-28d1-4332-9275-677b0e6dbaf5">
      <Value Key="Description" Value="" Type="String" />
      <Value Key="Name" Value="ICache" Type="String" />
      <Value Key="PartAssemblyAndType" Value="ToSic.Eav.DataSources.Caches.ICache, ToSic.Eav.DataSources" Type="String" />
      <Value Key="VisualDesignerData" Value="{&#xD;&#xA;  &quot;Top&quot;: 440,&#xD;&#xA;  &quot;Left&quot;: 440&#xD;&#xA;}" Type="String" />
    </Entity>
    <Entity AssignmentObjectType="Entity" AttributeSetStaticName="DataPipelinePart" AttributeSetName="DataPipelinePart" EntityGUID="b274e654-253c-4a61-9325-3bdb47b7a8e5" KeyGuid="3d8f8c69-28d1-4332-9275-677b0e6dbaf5">
      <Value Key="Description" Value="" Type="String" />
      <Value Key="Name" Value="PublishingFilter" Type="String" />
      <Value Key="PartAssemblyAndType" Value="ToSic.Eav.DataSources.PublishingFilter, ToSic.Eav.DataSources" Type="String" />
      <Value Key="VisualDesignerData" Value="{&#xD;&#xA;  &quot;Top&quot;: 300,&#xD;&#xA;  &quot;Left&quot;: 440&#xD;&#xA;}" Type="String" />
    </Entity>
    <Entity AssignmentObjectType="Entity" AttributeSetStaticName="DataPipelinePart" AttributeSetName="DataPipelinePart" EntityGUID="5cfe7431-fa6c-494d-8d9c-b207402e91ea" KeyGuid="366423af-8674-47d1-9530-3c5ef5b13dcd">
      <Value Key="Description" Value="" Type="String" />
      <Value Key="Name" Value="ICache" Type="String" />
      <Value Key="PartAssemblyAndType" Value="ToSic.Eav.DataSources.Caches.ICache, ToSic.Eav.DataSources" Type="String" />
      <Value Key="VisualDesignerData" Value="{&#xD;&#xA;  &quot;Top&quot;: 440,&#xD;&#xA;  &quot;Left&quot;: 440&#xD;&#xA;}" Type="String" />
    </Entity>
    <Entity AssignmentObjectType="Entity" AttributeSetStaticName="DataPipelinePart" AttributeSetName="DataPipelinePart" EntityGUID="5fbc8027-81f1-4da8-9f88-c34e0ba7b629" KeyGuid="366423af-8674-47d1-9530-3c5ef5b13dcd">
      <Value Key="Description" Value="" Type="String" />
      <Value Key="Name" Value="PublishingFilter" Type="String" />
      <Value Key="PartAssemblyAndType" Value="ToSic.Eav.DataSources.PublishingFilter, ToSic.Eav.DataSources" Type="String" />
      <Value Key="VisualDesignerData" Value="{&#xD;&#xA;  &quot;Top&quot;: 300,&#xD;&#xA;  &quot;Left&quot;: 440&#xD;&#xA;}" Type="String" />
    </Entity>
    <Entity AssignmentObjectType="Default" AttributeSetStaticName="59d8a385-1f1b-47b3-8991-b2857047cba2" AttributeSetName="t43-content-type-anonR" EntityGUID="b4853ad4-bb78-42a9-8eb9-d34a59ad65e9">
      <Value Key="Title" Value="t43-001" Type="String" />
    </Entity>
  </Entities>
  <PortalFiles />
  <PortalFolders>
    <Folder Id="212" RelativePath="adam/app-dev-testing-permissions-REST/" />
  </PortalFolders>
</SexyContent>